body {
    background-color: #212529;
}
hr{
    color: #FFFFFF;
}
.progress-bar {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 35%;
    width: 30%;
    height: 15px;
    background: #aaaaaa;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.progress-bar .progress {
    --time: 1s; /** Значение по умолчанию для времени анимации **/
    background: linear-gradient(to right, #ff8800, #ee00ff);
    width: 100%;
    height: 100%;
    transform-origin: left top;
    transform: scaleX(0);
    animation: scale var(--time) forwards;
}
header{
    color: #FFFFFF;
}
.card{
    position: absolute;
    top: 25%;
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.main{
     opacity: 100;
}
@keyframes scale {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
