header {
    position: fixed;
    z-index: 2;
}

nav {
    margin-top: -5rem;
    height: 7rem;
    backdrop-filter: saturate(120%) blur(20px);
}

.icon div {
    font-family: Roboto, monospace;
    font-size: 3rem;
    margin-top: -5rem;
    margin-left: 7rem;
}

.icon img {
    height: 100px;
    width: 100px;
    margin-left: 0.5rem;
    margin-top: 2rem;
    border-radius: 50%;
}

.buttons {
    margin-top: 3rem;
    margin-right: 0.5rem;
}

.buttons a:hover {
    background-color: #673ab7;
    color: #FFFFFF;
}

/*img{*/
/*    margin-left: 500px;*/
/*    margin-top: 50px;*/
/*}*/
.buttons a {
    margin-left: 0.3rem;
}