
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
progress{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
button{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --primary: #03ee9b;
        --primary-hover: #03EE9BFF;
        --primary-focus: rgba(244, 81, 30, 0.25);
        --primary-inverse: #FFF;
    }
}
