<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>moontiara</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link href="{% static 'styles/index_style.css' %}" rel="stylesheet">
</head>
<body>
<progress value="0" max="1000" id="52" class='jojo'></progress>
<button onclick="readAll()">Let's go</button>
<img src="{% static "img/3.jpg" %}" alt="45" height=300 width=300 id = "12" >
</body>
<script type="text/javascript" src="{% static 'scripts/home_script.js' %}"></script>
</html>
