<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title%}{% endblock %}</title>
    <link href= "{% static 'styles/index.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body class = "p-3 mb-2 bg-dark">
<header class = "mt-2 mb-6 flex h-10 items-center justify-between">
    <h1>fhgfhgf</h1>
</header>
    <div>
        {% block content %}{% endblock %}
    </div>
<footer>
    <p class="text-center text-muted">© 2023 MoonTiara</p>
  </footer>
</body>
</html>