<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="{% static 'styles/index_style.css' %}" rel="stylesheet">
    <link href="{% static 'styles/customPico.css' %}" rel="stylesheet">
    <title>moontiara</title>
</head>
<body>
<header>
    <nav>
        <div class="icon">
            <img src="{% static "img/3.jpg" %}" alt="icon" href="{% url "home" %}">
            <div>Bernkastel</div>
        </div>
        <div class="buttons">
            <a href="{% url 'sign' %}" role="button" class="outline">Sign in</a>
            <a href="{% url 'login' %}" role="button" class="outline">Log in</a>
        </div>
    </nav>
</header>

<script type="text/javascript" src="{% static 'scripts/index_script.js' %}"></script>
</body>

</html>
