<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="{% static 'styles/index_style.css' %}" rel="stylesheet">
    <title>moontiara</title>
</head>
<body>
<nav>
    <img src="{% static "img/3.jpg" %}" alt="icon" href="{% url "home" %}">
    <div class="tt">Bernkastel</div>
    <div class="Buttons">
        <a href="{% url "sign" %}">
            <button class="sign">Sign up</button>
        </a>
        <a href="{% url "login" %}">
            <button class="login" href="{% url "login" %}">Login up</button>
        </a>
    </div>
</nav>
<script type="text/javascript" src="{% static 'scripts/index_script.js' %}"></script>
</body>

</html>
